<br>

<div class="center">
  <h1>ログイン</h1>
</div>

<div class="card card-container">
  <%= form_with(scope: :session, url: sessions_path, local: true) do |f| %>
  
    <%= f.label :email %>
    <%= f.email_field :email, :class => 'field'%>
  
    <%= f.label :password %>
    <%= f.password_field :password, :class => 'field' %>
    <br>
    <br>
    <%= f.submit "Log in", :class => "btn btn-lg btn-primary btn-block btn-signin" %>
  <% end %>
</div>
