<br>

<div class="center">
  <h1>お気に入りした投稿</h1>
</div>

<div id="contets_box">
  <ul>
    <% @favorites.each do |favorite| %>
      <div class="contet_box">
        <li>
          <dt><%= favorite.contribution.user.name %>さんの投稿</dt>
          <br>
          <dd><%= favorite.contribution.content %></dd>
          <br>
          <dd><%= image_tag(favorite.contribution.picture.url) if favorite.contribution.picture.url %></dd>
          <br>
          <%= link_to 'お気に入りを解除する', favorite_path(id: favorite.id), method: :delete, class: 'btn btn-danger' %>
        </li>
      </div>
    <% end %>
  </ul>
</div>

<div class="inner">
    <a><%= link_to '戻る', contributions_path %></a>
</div>