<br>

<div class="center">
  <h1>以下の内容で、送信する。</h1>
</div>

<div class="contet_box">
  <%= form_with(model: @user, url: users_path, local: true) do |form| %>
    <h4>名前</h4>
    <p><%= @user.name %></p>
    <%= form.hidden_field :name %>
    <br>
    <h4>メールアドレス</h4>
    <p><%= @user.email %></p>
    <%= form.hidden_field :email %>
    <br>
    <%= form.hidden_field :password %>
    <%= form.hidden_field :password_confirmation %>
    <h4>プロフィール写真</h4>
    <%= image_tag(@user.image.url) if @user.image? %>
    <%= form.hidden_field :image_cache %>
    <br>
    <br>
    <%= form.submit  "登録する", :class => "btn btn-lg btn-primary btn-block btn-signin" %>
  <% end %>
  <br>
  <br>
  <%= form_with(model: @user, url: new_user_path, local: true, method: 'get') do |form| %>
    <%= form.hidden_field :name %>
    <%= form.hidden_field :email %>
    <%= form.hidden_field :image_cache %>
    <%= form.submit "戻る", name: 'back', :class => "btn btn-lg btn-primary btn-block btn-signin" %>
  <% end %>
</div>
