<br>

<div class="center">
  <h1>新規登録</h1>
</div>

<%= form_with(model: @user, local: true, url: choose_new_or_edit) do |form| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2>登録内容に不備があります</h2>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="contet_box">
    <div class="field">
      <br>
      <%= form.label :名前 %>
      <%= form.text_field :name, :class => 'field' %>
    </div>
    <div class="field">
      <br>
      <%= form.label :メールアドレス %>
      <%= form.text_field :email, :class => 'field' %>
    </div>
    <div class="field">
      <br>
      <%= form.label :パスワード %>
      <%= form.password_field :password, :class => 'field' %>
    </div>
    <div class="field">
      <br>
      <%= form.label :パスワード（確認用） %>
      <%= form.password_field :password_confirmation, :class => 'field' %>
    </div>
    <div class="field">
      <%= image_tag(@user.image.url) if @user.image.url %>
      <br>
      <%= form.label :プロフィール画像 %>
      <%= form.file_field :image %>
      <%= form.hidden_field :image_cache %>
    </div>
    <br>
    <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">
      新規投稿する
    </button>
  </div>
<% end %>

<div class="clear"></div>
