<br>

<div class="center">
  <h1>以下の内容で、送信する。</h1>
</div>

<div class="contet_box">
  <%= form_with(model: @contribution, url: contributions_path, local: true) do |form| %>
    <h4>投稿内容</h4>
    <p><%= @contribution.content %></p>
    <%= form.hidden_field :content %>
    <br>
    <h4>投稿写真</h4>
    <%= image_tag(@contribution.picture.url) if @contribution.picture? %>
    <%= form.hidden_field :picture_cache %>
    <br>
    <br>
    <%= form.submit  "登録する", :class => "btn btn-lg btn-primary btn-block btn-signin" %>
  <% end %>
  <br>
  <br>
  <%= form_with(model: @contribution, url: new_contribution_path, local: true, method: 'get') do |form| %>
    <%= form.hidden_field :content %>
    <%= form.hidden_field :image_cache %>
    <%= form.submit "戻る", name: 'back', :class => "btn btn-lg btn-primary btn-block btn-signin" %>
  <% end %>
</div>
