<br>

<div id="contets_box">
  <ul>
    <% @contributions.each do |contribution| %>
    <div class="contet_box">
      <li>
        <dt><%= contribution.user.name %>さんの投稿</dt>
        <br>
        <dd><%= contribution.content %></dd>
        <br>
        <dd><%= image_tag(contribution.picture.url) if contribution.picture.url %></dd>
        <br>
        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Action <span class="caret"></span>
          </button>
            <ul class="dropdown-menu">
              <li><%= link_to '投稿内容を編集する', edit_contribution_path(contribution) if contribution.user_id == current_user.id %></li>
              <li><%= link_to '投稿内容を削除する', contribution, method: :delete, data: { confirm: '本当に投稿を削除しますか？' } if contribution.user_id == current_user.id %></li>
            </ul>
        </div>
      </li>
    </div>
    <% end %>
  </ul>
</div>

<div class="inner">
  <%= link_to '新規投稿する', new_contribution_path %>
</div>

<div class="inner">
  <%= link_to 'プロフィールを確認する', user_path(current_user.id) %>
</div>