<!DOCTYPE html>
<html>
  <head>
    <title>TaskInstagram</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "#{key}") %>
    <% end %>
    
    <% if logged_in? %>
      <%= link_to "ホーム", contributions_path, :class => 'nav' %> 
      <%= link_to "ログアウト", session_path(current_user.id), method: :delete, :class => 'nav' %>
    <% else %>
      <%= link_to "新規登録", new_user_path, :class => 'nav' %>
      <%= link_to "ログイン", new_session_path, :class => 'nav' %>
    <% end %>
    
    <%= yield %>
  </body>
</html>
